{% macro input(name, label, type="text", value="", placeholder="", attrs="") %}
<div class="form-group">
    <label for="{{ name }}">{{ label }}</label>
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" {{ attrs | safe }} />
</div>
{% endmacro %}

{% macro textarea(name, label, value="", placeholder="", rows="5", attrs="") %}
<div class="form-group">
    <label for="{{ name }}">{{ label }}</label>
    <textarea name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" rows="{{ rows }}" {{ attrs | safe }}>{{ value }}</textarea>
</div>
{% endmacro %}


{% macro header_textarea(index, label) %}
<div class="form-group block-group" data-type="Header">
    <label for="header-{{ index }}">Header</label>
    <textarea id="header-{{ index }}">{{label}}</textarea>
</div>
{% endmacro %}

{% macro footer_input(index, label) %}
<div class="form-group block-group" data-type="Footer">
    <label for="footer-{{ index }}">Footer</label>
    <input type="text" id="footer-{{ index }}" value="{{ label }}" />
</div>
{% endmacro %}