{% macro counter_form(c) %}
<form is="art-counter"
      id="{{ c.id }}"
      action="/api/counter/{{ c.id }}"
      method="post"
      data-uid="{{ c.id }}"
      count="{{ c.value }}">
  <button is="js-action"
          data-inc
          type="submit"
          name="action"
          value="inc"
          action="click:inc:{{ c.id }}">
      Increment ({{ c.value }})
  </button>
  <button is="js-action"
          type="submit"
          name="action"
          value="dec"
          action="click:dec:{{ c.id }}">
      Decrement
  </button>
</form>

<counter-ws uid="{{ c.id }}"></counter-ws>
{% endmacro %}
